<%#= image_tag(member.avatar(:thumb)) %>

<h4><%= member.full_name %></h4>
<p><%= member.profession %></p>
<p><%= member.phone_number %></p>

<p><%= member.description %></p>

<li>Created:<%= member.created_at.to_formatted_s(:long_ordinal) %></li>
<li>Updated:<%= member.updated_at.to_formatted_s(:long_ordinal) %></li>

<%= link_to t(:edit), edit_dashboard_member_path(member), class: 'btn btn-warning btn-sx' %>

<%= link_to t(:remove), dashboard_member_path(member), method: :delete,
                                                       data: { confirm: 'Are you sure?' },
                                                       class: 'btn btn-danger btn-sx' %>
