<div class='row'>
  <div class='column large-6 small-3'>
    <h4><%= member.first_name %></h4>
    <h4><%= member.last_name %></h4>
    <h5><%= member.profession %></h5>
    <h5><%= member.phone_number %></h5>
    <p><b>Създадено на:</b> <%= member.created_at.to_formatted_s(:long_ordinal) %></p>
    <p><b>Обновено на:</b> <%= member.updated_at.to_formatted_s(:long_ordinal) %></p>
    <%= link_to "Редактирай", edit_dashboard_member_path(member), class: 'success button' %>
    <%= link_to "Премахни", dashboard_member_path(member), method: :delete, data: { confirm: 'Are you sure?' } , class: 'alert button' %>
  </div>
  <div class='column large-6 small-9'>
    <%= member.description %><hr>
  </div>
</div>
