<table class='table'>
  <tr>
    <th><%= t(:id) %></th>
    <td><%= booking.id %></td>
  </tr>
  <tr>
    <th><%= t(:first_name) %></th>
    <td><%= booking.first_name %></td>
  </tr>
  <tr>
    <th><%= t(:last_name) %></th>
    <td><%= booking.last_name %></td>
  </tr>
  <tr>
    <th><%= t(:phone) %></th>
    <td><%= booking.phone %></td>
  </tr>
  <tr>
    <th><%= t(:approved) %></th>
    <td><%= booking.approved %></td>
  </tr>
  <tr>
    <th><%= t(:additional_info) %></th>
    <td><%= booking.additional_info %></td>
  </tr>
  <tr>
    <th><%= t(:created_at) %></th>
    <td><%= booking.created_at %></td>
  </tr>
  <tr>
    <th><%= t(:updated_at) %></th>
    <td><%= booking.updated_at %></td>
  </tr>
  <tr>
    <th><%= t(:reservation) %></th>
    <td><%= booking.reservation %></td>
  </tr>
  <tr>
    <th><%= t(:reserved_at) %></th>
    <td><%= booking.reserved_at %></td>
  </tr>
</table>
