<div class='col-lg-4'>
  <div class='well'>
    <h5><%= full_name(booking) %></h5>
    <small><%= booking.phone %></small>
    <p><%= t(:approved) %>: <%= booking.approved %></p>
    <%= link_to 'View', dashboard_booking_path(booking), class: 'btn btn-warning btn-xs' %>
  </div>
</div>
