<div class='col-lg-12'>
  <h4><%= offer.name %></h4>
  <p><%= offer.description %></p>

  <ul>
    <li>Price: <%= "#{offer.price} лв" %></li>
    <li>Created: <%= offer.created_at.to_formatted_s(:long_ordinal) %></li>
    <li>Updated: <%= offer.updated_at.to_formatted_s(:long_ordinal) %></li>
  </ul>

  <%= link_to t(:edit), edit_dashboard_offer_path(offer),
                        class: 'btn btn-warning btn-sx' %>

  <%= link_to t(:remove), dashboard_offer_path(offer), method: :delete,
                                                       data: { confirm: 'Are you sure?' },
                                                       class: 'btn btn-danger btn-sx' %>
</div>
