<div class='row'>
  <div class="media-object callout clearfix">
    <div class='column large-8'>
      <div class="media-object-section">
        <h4><%= offer.name %></h4>
        <%= offer.description %>
      </div>
    </div>

    <div class='column large-4'>
      <%= link_to "Редактирай", edit_dashboard_offer_path(offer), class: 'success button' %>
      <%= link_to "Премахни", dashboard_offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' } , class: 'alert button' %>
      <p><b>Price:</b> <%= "#{offer.price} лв" %></p>
      <p><b>Създадено на: </b><%= offer.created_at.to_formatted_s(:long_ordinal) %></p>
      <p><b>Последна промяна на: </b><%= offer.updated_at.to_formatted_s(:long_ordinal) %></p>
    </div>
  </div>
</div>
