<%= form_for [:dashboard, @paragraph] do |f| %>
  <div class='form-group'>
    <%= f.label :title, t(:title) %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :body, t(:body) %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.submit t(:submit), class: 'btn btn-warning btn-lg' %>
  </div>
<% end %>
