<h4><%= paragraph.title %></h4>
<p><%= paragraph.body %></p>

<ul>
  <li>Created: <%= paragraph.created_at.to_formatted_s(:long_ordinal) %></li>
  <li>Updated: <%= paragraph.updated_at.to_formatted_s(:long_ordinal) %></li>
</ul>
<%= link_to t(:edit), edit_dashboard_paragraph_path(paragraph),
                      class: 'btn btn-warning btn-sx' %>

<%= link_to t(:remove), dashboard_paragraph_path(paragraph), method: :delete,
                                                             data: { confirm: 'Are you sure?' },
                                                             class: 'btn btn-danger btn-sx' %>
