<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Kava" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div data-sticky-container>
      <div class="title-bar sticky" data-sticky data-options="marginTop:0;" style="width:100%">

        <div class="title-bar-left">
          <strong>KAVA</strong>
        </div>

        <div class="title-bar-right">
          <ul class="menu">
            <li><%= link_to "За нас", front_paragraphs_path %></li>
            <li><%= link_to "Услуги", front_offers_path %></li>
            <li><%= link_to "Екип", front_members_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class='row'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>

  </body>
</html>
