<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <title><%= content_for?(:title) ? yield(:title) : 'Health and Beauty centre Kava' %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
          <ul class="nav" id="menu">
            <li><%= link_to t(:about), front_paragraphs_path %></li>
            <li><%= link_to t(:offers), front_offers_path %></li>
            <li><%= link_to t(:team), front_members_path %></li>
            <li><%= link_to t(:contacts), front_details_path %></li>
            <li><%= link_to t(:book_an_hour), new_front_booking_path %></li>
          </ul>
        </div>

        <div class="column col-sm-9 col-xs-11" id="main">
          <p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></p>
            <p>
              <%= image_tag 'logo_small.png' %>

              <div class='row'>
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
              </div>

              <%= yield %>
            </p>
        </div>
      </div>
    </div>
  </body>
</html>
