<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Health and Beauty centre' %></title>

    <%= javascript_include_tag "https://code.jquery.com/jquery-3.1.1.min.js" %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><%= link_to t(:about), paragraphs_path %></li>
            <li role="presentation"><%= link_to t(:offers), offers_path %></li>
            <li role="presentation"><%= link_to t(:team), members_path %></li>
            <li role="presentation"><%= link_to t(:book_an_hour), new_booking_path, 'data-turbolinks' => "false" %></li>
          </ul>
        </nav>

        <h3 class="text-muted">Health and Beauty centre</h3>
        <div class="jumbotron">
          <h1>Health and Beauty centre</h1>
          <p>Lorem ipsum dolor sit amet, at choro recusabo electram quo, equidem euripidis in vel. Postea docendi et ius, decore invenire sea ea.</p>

          <%= link_to t(:book_an_hour), new_booking_path, class: 'btn btn-warning btn-lg',
                                                          'data-turbolinks' => "false" %>
        </div>

        <div class='row'>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>

      <%= yield %>

      <footer class='footer'>
        <div class="container">
          2017
        </div>
      </footer>
    </div>
  </body>
</html>
