<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <title><%= content_for?(:title) ? yield(:title) : 'Health and Beauty centre Kava' %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><%= link_to t(:about), paragraphs_path %></li>
            <li role="presentation"><%= link_to t(:offers), offers_path %></li>
            <li role="presentation"><%= link_to t(:team), members_path %></li>
            <li role="presentation"><%= link_to t(:contacts), details_path %></li>
            <li role="presentation" class="active"><%= link_to t(:book_an_hour), new_booking_path %></li>
          </ul>
        </nav>

        <h3 class="text-muted">Health and Beauty centre KAVA</h3>
        <div class="jumbotron">
          <h1>Health and Beauty centre KAVA</h1>
          <p>Lorem ipsum dolor sit amet, at choro recusabo electram quo, equidem euripidis in vel. Postea docendi et ius, decore invenire sea ea.</p>

          <%= link_to t(:book_an_hour), new_booking_path, class: 'btn btn-warning btn-lg' %>
        </div>

        <div class='row'>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

        <%= image_tag 'logo_small.png', style: 'display: block; margin: auto;' %>
      </div>

      <%= yield %>

      <footer class='footer'>
        2017 KAVA
      </footer>
    </div>
  </body>
</html>
