<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "Kava" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='row'>
      <div data-sticky-container>
        <div class="title-bar sticky title-bar-colors" data-sticky data-options="marginTop:0;" style="width:100%">

          <!-- <div class="title-bar-left"> -->
            <div class="menu-centered">
              <strong>Health and beauty center Kava</strong>

              <div class="expanded button-group">
                <%= link_to 'За нас', front_paragraphs_path, class: 'alert hollow button' %>
                <%= link_to 'Услуги', front_offers_path, class: 'alert hollow button' %>
                <%= link_to 'Екип', front_members_path , class: 'alert hollow button' %>
                <%= link_to 'Контакти', '#', class: 'alert hollow button' %>
                <%#= link_to 'Запиши час', '#', class: 'alert hollow button' %>
              </div>
            </div>
          <!-- </div> -->

          <!-- <div class="title-bar-right"> -->
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class='row'>
      <%= image_tag 'logo_small.png', class: 'center' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>

    <div class='row'>
      <footer class="footer">
        <div class="row full-width">
          <div class="small-12 medium-6 large-6 columns">
            <p>Developed by: <a href='https://bg.linkedin.com/in/joromir' target='_blank'>Georgi N. Kostov</a></p>
            <br><br>
            <p>Health &amp; beauty center Kava</p>
            <p>Адрес: София ул. "Люлин планина" 33</p>
            <p>Телефон: +359 893 454 666</p>
            <!-- <a href='https://www.facebook.com/Health-and-Beauty-centur-KAVA-324285777780321/' target='_blank'>FACEBOOK</a> -->
          </div>

          <div class="small-12 medium-6 large-6 columns">
            <p>Health &amp; beauty center Kava</p>
          </div>
        </div>
      </footer>
    </div>

  </body>
</html>
