<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Kava" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='row'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <ul>
      <li><%= link_to "За нас", front_about_posts_path %></li>
      <li> Услуги </li>
      <!--li> Запиши час </li-->
      <!--li> Пиши ни </li-->
      <li> Контакти </li>
      <li><%= link_to "Екип", front_members_path %></li>
    </ul>

    <%= yield %>

  </body>
</html>
