<!DOCTYPE html>
<html>
<head>
  <title>Salon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to "За нас", about_posts_path %></li>
    <li> Услуги </li>
    <li> Запиши час </li>
    <li> Пиши ни </li>
    <li> Контакти </li>
  </ul>

  <%= yield %>
</body>
</html>
