<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Kava" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='row'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class='row'>
      <div data-sticky-container>
        <div class='column large-4 sticky' data-sticky>
          <ul class="vertical menu" data-responsive-menu="drilldown medium-dropdown" style="width: 300px;">
            <li>
              <%= link_to "Екип", dashboard_members_path %>
              <ul class="vertical menu">
                <li><%= link_to "Разгледай екипа", dashboard_members_path %></li>
                <li><%= link_to "Добави ново лице към екипа", new_dashboard_member_path %></li>
              </ul>
            </li>

            <li>
              <%= link_to "Услуги", dashboard_offers_path %>
              <ul class="vertical menu">
                <li><%= link_to "Разгледай всички", dashboard_offers_path %></li>
                <li><%= link_to "Добави нова услуга", new_dashboard_offer_path %></li>
              </ul>
            </li>

            <li>
              <%= link_to "Начална страница", dashboard_paragraphs_path %>
              <ul class="vertical menu">
                <li><%= link_to "Публикации", dashboard_paragraphs_path %></li>
                <li><%= link_to "Добави нова публикация", new_dashboard_paragraph_path %></li>
              </ul>
            </li>

            <li><%= link_to "Излез", "#" %></li>
          </ul>
        </div>
      </div>

      <div class='column large-9'>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
