<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Health and Beauty centre' %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Dashboard</h1>

        <table class='table'>
          <!-- TODO -->
          <tr>
            <td>All bookings</td>
            <td><span class="badge"><%= Booking.count %></span></td>
          </tr>
        </table>

        <%= link_to t(:publications), dashboard_paragraphs_path, class: 'btn btn-success btn-lg' %>
        <%= link_to t(:team), dashboard_members_path, class: 'btn btn-success btn-lg' %>
        <%= link_to t(:offers), dashboard_offers_path, class: 'btn btn-success btn-lg' %>
        <%= link_to t(:bookings), dashboard_bookings_path, class: 'btn btn-warning btn-lg', 'data-turbolinks' => "false"  %>
        <%= link_to t(:logout), destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-lg' %>
      </div>

      <div class='row'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <hr>

      <%= yield %>
    </div>
  </body>
</html>
